
        /* Estilo para el borde grueso y color de fondo de los th */
        table.table th {
            border: 2px solid #000;
            background-color: #d8d8d8; /* Color gris claro */
        }
    /* Estilo para ocultar los divs con clase "sucursal" */
        .sucursal {
            display: none;
            border: 2px solid black;
            padding: 10px; /* Ajusta este valor para cambiar el espacio entre el borde y el contenido */
        }
        .sucursal table {
            width: 100%;
        }
        .sucursal th {
            text-align: left;
        }

        /* Estilo para mostrar el primer div */
        #sucursal1 {
            display: none;
        }

    /* Estilo para cambiar el color de fondo de la fila seleccionada a azul */
    .table-info {
        background-color: #1F90F1; /* Color azul */
        color: white; /* Cambiar el color del texto a blanco para mejor contraste */
    }
    .mi-tabla {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
    }
    .mi-tabla th, .mi-tabla td {
        padding: 12px;
    }
  /* Estilo para los bordes de las celdas */
                table.table {
                    border: 2px solid #000;
                }

                table.table th, table.table td {
                    border: 1px solid #000;
                }

                /* Estilo para el borde grueso y color de fondo de los th */
                table.table th {
                    border: 2px solid #000;
                    background-color: #d8d8d8; /* Color gris claro */
                }
                /* Estilo para ocultar los divs con clase "sucursal" */
                .sucursal {
                    display: none;
                    border: 2px solid black;
                    padding: 10px; /* Ajusta este valor para cambiar el espacio entre el borde y el contenido */
                }
                .sucursal table {
                    width: 100%;
                }
                .sucursal th {
                    text-align: left;
                }

                /* Estilo para mostrar el primer div */
                #sucursal1 {
                    display: none;
                }

                /* Estilo para cambiar el color de fondo de la fila seleccionada a azul */
                .table-info {
                    background-color: #1F90F1; /* Color azul */
                    color: white; /* Cambiar el color del texto a blanco para mejor contraste */
                }

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Ajustar el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row label {
  margin-bottom: 5px;
}

.form-row input,
.form-row textarea,
.form-row select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.form-row textarea {
  resize: vertical; /* Permitir ajuste vertical del textarea */
}

.form-row input[type="number"] {
  width: 100px; /* Ajustar el ancho según tus necesidades */
}

.form-row select {
  width: 100%; /* Ajustar el ancho según tus necesidades */
}
