header nav{
    width: 100%;
    height: 3rem;
    /* background: green; */
    display: flex;
    position: absolute;
}

header nav ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header nav ul li a{
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.login{
    width: 3rem;
    height: 2rem;
    background: black;
    position: absolute;
    right: 1rem;
    top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.login a{
    text-decoration: none;
    color: white;
}

.container-custom{
    
    height: 100vh;
    /* background-color:red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-custom img{
    width: 70%;
    height: 50%;
}